body{font-family:sans-serif;background:#0f172a;color:white;text-align:center}
.box{background:#1e293b;padding:20px;width:300px;margin:auto;border-radius:8px}
a{color:#38bdf8}
button{padding:10px 20px}
